# Project configuration
site_name: FAIRagro Knowledge Base
site_url: https://knowledgebase.fairagro.net/


# Navigation Header Deutsch (English Override -> language settings)
nav:
    - Erste Schritte: index.de.md
    - FDM Basics: basics.de.md
    - FDM Agrar:
        - rdm/index.de.md
        - Agrarspezifische Daten: rdm/specific_data.de.md
        - Repositorien: rdm/data_repositories.de.md
        - FAIRe Code-Veröffentlichung: rdm/fair_code.de.md
    - FDM & Recht: 
        - legal/index.de.md
        - Rechte an Daten: legal/rights.de.md
        - Data Act der EU: legal/access.de.md
        - Automatisierte Verträge: legal/automated_contracts.de.md
    - Tech Guides:
        - tech-guides/index.de.md
        - Metadata Core Specification: tech-guides/core_metadata_specification.de.md
    - Weitere FDM Themen:
        - FDM Training: training.de.md
        - FAIRagro Services: services.de.md
        - Netzwerk & Mehr: info.de.md

# Theme configuration
theme:
    name: material
    logo: assets/FAIRagro_Knowledgebase_g_Logo-v11.png
    favicon: assets/favicon.png
    font: false
    features:
        # navigation
        - navigation.expand
        - navigation.indexes
        - navigation.top 
        - navigation.tracking
        - navigation.sections
        # toc 
        - toc.follow
    #color scheme
    palette:
        primary: custom
        accent: custom
    custom_dir: docs/custom
    icon:
      tag:
        author: fontawesome/solid/user
        

# Language settings
plugins:
  - search
  - tags
  - i18n:
      reconfigure_material: true
      reconfigure_search: true
      docs_structure: suffix
      languages:
        - locale: de
          default: true
          name: Deutsch
          build: true
          theme:
            language: de-custom
          
        - locale: en
          name: English
          build: true
          # English navigation
          nav:
            - Getting Started: index.en.md
            - RDM Basics: basics.en.md
            - RDM Agriculture:
                - rdm/index.en.md
                - Agriculture-specific Data: rdm/specific_data.en.md
                - Repositories: rdm/data_repositories.en.md
                - Publishing Code FAIR: rdm/fair_code.en.md
            - RDM & Legal: 
                - legal/index.en.md
                - Data Rights: legal/rights.en.md
                - EU Data Act: legal/access.en.md
                - Automated Contracts: legal/automated_contracts.en.md
            - Tech Guides:
                - tech-guides/index.en.md
                - Metadata Core Specification: tech-guides/core_metadata_specification.en.md
            - Further RDM Topics:
                - RDM Training: training.en.md
                - FAIRagro Services: services.en.md
                - Network & More: info.en.md
          theme:
            language: en-custom
          site_url: https://knowledgebase.fairagro.net/en/

markdown_extensions:
  - attr_list
  - footnotes
  - admonition
  - toc:  
      toc_depth: 3
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

extra:
  homepage: https://knowledgebase.fairagro.net # Website link for logo in header
  generator: false
  footer:
      logo:
        link: https://www.fairagro.net
        img: assets/logo.png
#  tags:
#    Lucia Vedder: author

footer:
  copyright: |
    &copy; 2025 FAIRagro
  links:
    - name: Contact -
      link: https://fairagro.net/kontakt/
    - name: Legal notice -
      link: https://fairagro.net/impressum/
    - name: Privacy policy
      link: https://fairagro.net/datenschutzerklaerung/
